.section_hero-image {
  transform-origin: 50% 0%;
  opacity: 0;
}

.mouse_int-spotlight-wrapper {
  width: 18rem;
  height: 18rem;
  aspect-ratio: 1/1;
}

.mouse_int-spotlight {
  width: 15.5rem;
  height: 15.5rem;
  aspect-ratio: 1/1;
  background-color: #c7c5c5;
}

.character_image-wrapper img {
  scale: 1;
}

figcaption {
  font-size: 1.0625rem;
  opacity: 0.6;
  padding-top: 0.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 991px) {
  .blog_post-large-wrapper .paragraph-style-large {
    font-size: 1rem;
  }

  .blog_post-large-wrapper .heading-style-h2 {
    font-size: 1.75rem;
  }
}
